
/* NAVBAR STYLING */

  .navbar {
    background-color: #2D4262;
    font-size: 18px;
    font-family: 'Lucida Sans';
    
  }
  
  .link-button {
  /* background-color: rgb(217, 217, 224); */
  /* color: #FFF3B0; */
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;

  transition: background-color 0.3s ease;
  }

  
  li {
  display: inline-block;
   
  }
  

  li a {
    
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: Cambria; 
    
  }

  li a:hover {
    background-color: #093c72;
    padding: 5px 10px;
  }
  

  
  @media only screen and (max-width: 200px) {
  nav {
  padding: 5px 0;
  }
  
  li {
  display: block;
  margin: 10px 0;
  
    }
  }
  
  .navbar .navbar-span {
    color: white;
  }
  
  .navbar .active {
    background-color: #048ABF;
    border-radius: 5px;
    
  }
  
  /* LOGIN STYLLING */
  /* index.css */

  .auth-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 40px;

  background-color: #f9f9f9;
  

  }
  
  
  .form-group {
  margin-bottom: 15px;
  }
  
  label {
  display: block;
  font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
  width: 100%;
  padding: 5px;
    
  }
 
  
  @media only screen and (max-width: 600px) {
  .auth-container {
  padding: 10px;
  
  }
  
  input[type="email"],
  input[type="password"],
  button {
  padding: 8px;
  }
  }
  

  
  /* REGISTRATION STYLLING */
  /* + */
  /* update user */
  
  .auth-container {
  /* max-width: 400px; */
  /* margin: 20px auto; */
  /* padding: 20px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  }
  
  .auth-container h2 {
  /* margin-bottom: 20px; */
  font-size: 24px;
  color: #333;
  }
  
  /* .form-group {
  margin-bottom: 15px;
  } */
  
  .form-group label {
  display: block;
  /* margin-bottom: 5px; */
  font-size: 16px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
  width: 100%;
  /* padding: 8px; */
  /* margin-bottom: 10px; */
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  }
  
  button[type="submit"] {
  border: none;
  font-size: 16px;
  cursor: pointer;
  }

  
  
  /* FOOTER STYKLING */
   /* .footer{
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  }  */
  
  
  
  
  
  
  /* PAGE NOT FOUND STYLING */
  /* index.css */
  .not-found-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  }
  
  h2 {
  color: #d9534f;
  }
  
  p {
  color: #333;
  }
  
  @media only screen and (max-width: 600px) {
  .not-found-container {
  padding: 10px;
  }
  }
  
  /* ERROR STYLING */
  .error-message {
  color: red;
  text-align: center;
  }
  
  
  
  /*USER MANAGEMENT PAGE*/
  .user-management-container {
  /* max-width: 800px; */
  /* margin: 0px auto 60px auto; */
  /* padding: 20px; */
  
  }
  
  h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  }
  
  table {
  width: 100%;
  border-collapse: collapse;
  }
  
  th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  }
  
  th {
  background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
  background-color: #f9f9f9;
  }
  
  tr:hover {
  background-color: #f2f2f2;
  }
  
  /* button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
   */
  .reg-button {
  padding: 15px;
  margin: 10px auto;
  }
  
  /* button:hover {
  background-color: #0056b3;
  } */
  
  .delete-button {
  background-color: rgb(255, 9, 9);
  color: white;
  margin-bottom: 10px;
  font-weight: 400;
  }
  
  
  /**PROFILE STYLING"
  /* index.css */
  
  .profile-page-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  }
  
  .profile-page-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  }
  
  .profile-page-container p {
  margin-bottom: 10px;
  font-size: 16px;
  }
  
  .profile-page-container button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  }
  
  .profile-page-container button:hover {
  background-color: #093c72;
  }
  
/* history popup styling */
.modal-header,
.modal-body,
.modal-footer {
  text-align: center !important;
}

.status[data-status="Active"] {
  color: green; /* Change color as per your requirement */
}
.status[data-status="Reject"] {
  color: red; /* Change color as per your requirement */
}
.status[data-status="Approve"] {
  color: rgb(189, 186, 11); /* Change color as per your requirement */
}

.status[data-status="Scheduled"] {
  color: rgb(189, 47, 11); /* Change color as per your requirement */
}
.status[data-status="ReScheduled"] {
  color: rgb(61, 189, 11); /* Change color as per your requirement */
}

.status[data-status="Select"] {
  color: rgb(189, 47, 11); /* Change color as per your requirement */
}

